.vs/
**/bin/
**/obj/
**/artifacts/
**/installer/

*.db
*.db3
*.keystore
*.pfx
*.snk
*.user
*.suo
source-archives/*
/AttendanceList/$placeholder$.altform-lightunplated_targetsize-16.png
/AttendanceList/$placeholder$.altform-lightunplated_targetsize-24.png
/AttendanceList/$placeholder$.altform-lightunplated_targetsize-256.png
/AttendanceList/$placeholder$.altform-lightunplated_targetsize-32.png
/AttendanceList/$placeholder$.altform-lightunplated_targetsize-48.png
/AttendanceList/$placeholder$.altform-unplated_targetsize-16.png
/AttendanceList/$placeholder$.altform-unplated_targetsize-24.png
/AttendanceList/$placeholder$.altform-unplated_targetsize-256.png
/AttendanceList/$placeholder$.altform-unplated_targetsize-32.png
/AttendanceList/$placeholder$.altform-unplated_targetsize-48.png
/AttendanceList/$placeholder$.scale-100.png
/AttendanceList/$placeholder$.scale-125.png
/AttendanceList/$placeholder$.scale-150.png
/AttendanceList/$placeholder$.scale-200.png
/AttendanceList/$placeholder$.scale-400.png
/AttendanceList/$placeholder$.targetsize-16.png
/AttendanceList/$placeholder$.targetsize-24.png
/AttendanceList/$placeholder$.targetsize-256.png
/AttendanceList/$placeholder$.targetsize-32.png
/AttendanceList/$placeholder$.targetsize-48.png
/AttendanceList/AppPackages/
*.patch